/* Base */
.js-tile-style {
    position: absolute;
}

.mosaic-tile {
    float: left;
    margin: 0;
    transition: margin-top .6s, margin-left .6s;
}


/* 1 Column */
.mosaic-grid-1 .mosaic-tile {
    width: 100%;
    padding-bottom: 100%;
}

.mosaic-grid-1 .width-1 {
    width: 100%;
}

.mosaic-grid-1 .height-1 {
    padding-bottom: 100%;
}

.mosaic-grid-1 .height-2 {
    padding-bottom: 200%;
}

.mosaic-grid-1 .height-3 {
    padding-bottom: 300%;
}

.mosaic-grid-1 .height-4 {
    padding-bottom: 400%;
}

.mosaic-grid-1 .height-5 {
    padding-bottom: 500%;
}

.mosaic-grid-1 .height-6 {
    padding-bottom: 600%;
}

.mosaic-grid-1 .height-7 {
    padding-bottom: 700%;
}

.mosaic-grid-1 .height-8 {
    padding-bottom: 800%;
}

.mosaic-grid-1 .height-9 {
    padding-bottom: 900%;
}

.mosaic-grid-1 .height-10 {
    padding-bottom: 1000%;
}

/* 2 Columns */
.mosaic-grid-2 .mosaic-tile {
    width: 50%;
    padding-bottom: 50%;
}

.mosaic-grid-2 .width-1 {
    width: 50%;
}

.mosaic-grid-2 .width-2 {
    width: 100%;
}

.mosaic-grid-2 .height-1 {
    padding-bottom: 50%;
}

.mosaic-grid-2 .height-2 {
    padding-bottom: 100%;
}

.mosaic-grid-2 .height-3 {
    padding-bottom: 150%;
}

.mosaic-grid-2 .height-4 {
    padding-bottom: 200%;
}

.mosaic-grid-2 .height-5 {
    padding-bottom: 250%;
}

.mosaic-grid-2 .height-6 {
    padding-bottom: 300%;
}

.mosaic-grid-2 .height-7 {
    padding-bottom: 350%;
}

.mosaic-grid-2 .height-8 {
    padding-bottom: 400%;
}

.mosaic-grid-2 .height-9 {
    padding-bottom: 450%;
}

.mosaic-grid-2 .height-10 {
    padding-bottom: 500%;
}

/* 3 Columns */
.mosaic-grid-3 .mosaic-tile {
    width: 33.333333333333336%;
    padding-bottom: 33.333333333333336%;
}

.mosaic-grid-3 .width-1 {
    width: 33.333333333333336%;
}

.mosaic-grid-3 .width-2 {
    width: 66.66666666666667%;
}

.mosaic-grid-3 .width-3 {
    width: 100%;
}

.mosaic-grid-3 .height-1 {
    padding-bottom: 33.333333333333336%;
}

.mosaic-grid-3 .height-2 {
    padding-bottom: 66.66666666666667%;
}

.mosaic-grid-3 .height-3 {
    padding-bottom: 100%;
}

.mosaic-grid-3 .height-4 {
    padding-bottom: 133.33333333333334%;
}

.mosaic-grid-3 .height-5 {
    padding-bottom: 166.66666666666669%;
}

.mosaic-grid-3 .height-6 {
    padding-bottom: 200%;
}

.mosaic-grid-3 .height-7 {
    padding-bottom: 233.33333333333334%;
}

.mosaic-grid-3 .height-8 {
    padding-bottom: 266.6666666666667%;
}

.mosaic-grid-3 .height-9 {
    padding-bottom: 300%;
}

.mosaic-grid-3 .height-10 {
    padding-bottom: 333.33333333333337%;
}

/* 4 Columns */
.mosaic-grid-4 .mosaic-tile {
    width: 25%;
    padding-bottom: 25%;
}

.mosaic-grid-4 .width-1 {
    width: 25%;
}

.mosaic-grid-4 .width-2 {
    width: 50%;
}

.mosaic-grid-4 .width-3 {
    width: 75%;
}

.mosaic-grid-4 .width-4 {
    width: 100%;
}

.mosaic-grid-4 .height-1 {
    padding-bottom: 25%;
}

.mosaic-grid-4 .height-2 {
    padding-bottom: 50%;
}

.mosaic-grid-4 .height-3 {
    padding-bottom: 75%;
}

.mosaic-grid-4 .height-4 {
    padding-bottom: 100%;
}

.mosaic-grid-4 .height-5 {
    padding-bottom: 125%;
}

.mosaic-grid-4 .height-6 {
    padding-bottom: 150%;
}

.mosaic-grid-4 .height-7 {
    padding-bottom: 175%;
}

.mosaic-grid-4 .height-8 {
    padding-bottom: 200%;
}

.mosaic-grid-4 .height-9 {
    padding-bottom: 225%;
}

.mosaic-grid-4 .height-10 {
    padding-bottom: 250%;
}

/* 5 Columns */
.mosaic-grid-5 .mosaic-tile {
    width: 20%;
    padding-bottom: 20%;
}

.mosaic-grid-5 .width-1 {
    width: 20%;
}

.mosaic-grid-5 .width-2 {
    width: 40%;
}

.mosaic-grid-5 .width-3 {
    width: 60%;
}

.mosaic-grid-5 .width-4 {
    width: 80%;
}

.mosaic-grid-5 .width-5 {
    width: 100%;
}

.mosaic-grid-5 .height-1 {
    padding-bottom: 20%;
}

.mosaic-grid-5 .height-2 {
    padding-bottom: 40%;
}

.mosaic-grid-5 .height-3 {
    padding-bottom: 60%;
}

.mosaic-grid-5 .height-4 {
    padding-bottom: 80%;
}

.mosaic-grid-5 .height-5 {
    padding-bottom: 100%;
}

.mosaic-grid-5 .height-6 {
    padding-bottom: 120%;
}

.mosaic-grid-5 .height-7 {
    padding-bottom: 140%;
}

.mosaic-grid-5 .height-8 {
    padding-bottom: 160%;
}

.mosaic-grid-5 .height-9 {
    padding-bottom: 180%;
}

.mosaic-grid-5 .height-10 {
    padding-bottom: 200%;
}

/* 6 Columns */
.mosaic-grid-6 .mosaic-tile {
    width: 16.666666666666668%;
    padding-bottom: 16.666666666666668%;
}

.mosaic-grid-6 .width-1 {
    width: 16.666666666666668%;
}

.mosaic-grid-6 .width-2 {
    width: 33.333333333333336%;
}

.mosaic-grid-6 .width-3 {
    width: 50%;
}

.mosaic-grid-6 .width-4 {
    width: 66.66666666666667%;
}

.mosaic-grid-6 .width-5 {
    width: 83.33333333333334%;
}

.mosaic-grid-6 .width-6 {
    width: 100%;
}

.mosaic-grid-6 .height-1 {
    padding-bottom: 16.666666666666668%;
}

.mosaic-grid-6 .height-2 {
    padding-bottom: 33.333333333333336%;
}

.mosaic-grid-6 .height-3 {
    padding-bottom: 50%;
}

.mosaic-grid-6 .height-4 {
    padding-bottom: 66.66666666666667%;
}

.mosaic-grid-6 .height-5 {
    padding-bottom: 83.33333333333334%;
}

.mosaic-grid-6 .height-6 {
    padding-bottom: 100%;
}

.mosaic-grid-6 .height-7 {
    padding-bottom: 116.66666666666667%;
}

.mosaic-grid-6 .height-8 {
    padding-bottom: 133.33333333333334%;
}

.mosaic-grid-6 .height-9 {
    padding-bottom: 150%;
}

.mosaic-grid-6 .height-10 {
    padding-bottom: 166.66666666666669%;
}

/* 7 Columns */
.mosaic-grid-7 .mosaic-tile {
    width: 14.285714285714286%;
    padding-bottom: 14.285714285714286%;
}

.mosaic-grid-7 .width-1 {
    width: 14.285714285714286%;
}

.mosaic-grid-7 .width-2 {
    width: 28.571428571428573%;
}

.mosaic-grid-7 .width-3 {
    width: 42.85714285714286%;
}

.mosaic-grid-7 .width-4 {
    width: 57.142857142857146%;
}

.mosaic-grid-7 .width-5 {
    width: 71.42857142857143%;
}

.mosaic-grid-7 .width-6 {
    width: 85.71428571428572%;
}

.mosaic-grid-7 .width-7 {
    width: 100%;
}

.mosaic-grid-7 .height-1 {
    padding-bottom: 14.285714285714286%;
}

.mosaic-grid-7 .height-2 {
    padding-bottom: 28.571428571428573%;
}

.mosaic-grid-7 .height-3 {
    padding-bottom: 42.85714285714286%;
}

.mosaic-grid-7 .height-4 {
    padding-bottom: 57.142857142857146%;
}

.mosaic-grid-7 .height-5 {
    padding-bottom: 71.42857142857143%;
}

.mosaic-grid-7 .height-6 {
    padding-bottom: 85.71428571428572%;
}

.mosaic-grid-7 .height-7 {
    padding-bottom: 100%;
}

.mosaic-grid-7 .height-8 {
    padding-bottom: 114.28571428571429%;
}

.mosaic-grid-7 .height-9 {
    padding-bottom: 128.57142857142858%;
}

.mosaic-grid-7 .height-10 {
    padding-bottom: 142.85714285714286%;
}

/* 8 Columns */
.mosaic-grid-8 .mosaic-tile {
    width: 12.5%;
    padding-bottom: 12.5%;
}

.mosaic-grid-8 .width-1 {
    width: 12.5%;
}

.mosaic-grid-8 .width-2 {
    width: 25%;
}

.mosaic-grid-8 .width-3 {
    width: 37.5%;
}

.mosaic-grid-8 .width-4 {
    width: 50%;
}

.mosaic-grid-8 .width-5 {
    width: 62.5%;
}

.mosaic-grid-8 .width-6 {
    width: 75%;
}

.mosaic-grid-8 .width-7 {
    width: 87.5%;
}

.mosaic-grid-8 .width-8 {
    width: 100%;
}

.mosaic-grid-8 .height-1 {
    padding-bottom: 12.5%;
}

.mosaic-grid-8 .height-2 {
    padding-bottom: 25%;
}

.mosaic-grid-8 .height-3 {
    padding-bottom: 37.5%;
}

.mosaic-grid-8 .height-4 {
    padding-bottom: 50%;
}

.mosaic-grid-8 .height-5 {
    padding-bottom: 62.5%;
}

.mosaic-grid-8 .height-6 {
    padding-bottom: 75%;
}

.mosaic-grid-8 .height-7 {
    padding-bottom: 87.5%;
}

.mosaic-grid-8 .height-8 {
    padding-bottom: 100%;
}

.mosaic-grid-8 .height-9 {
    padding-bottom: 112.5%;
}

.mosaic-grid-8 .height-10 {
    padding-bottom: 125%;
}

/* 9 Columns */
.mosaic-grid-9 .mosaic-tile {
    width: 11.11111111111111%;
    padding-bottom: 11.11111111111111%;
}

.mosaic-grid-9 .width-1 {
    width: 11.11111111111111%;
}

.mosaic-grid-9 .width-2 {
    width: 22.22222222222222%;
}

.mosaic-grid-9 .width-3 {
    width: 33.33333333333333%;
}

.mosaic-grid-9 .width-4 {
    width: 44.44444444444444%;
}

.mosaic-grid-9 .width-5 {
    width: 55.55555555555556%;
}

.mosaic-grid-9 .width-6 {
    width: 66.66666666666666%;
}

.mosaic-grid-9 .width-7 {
    width: 77.77777777777777%;
}

.mosaic-grid-9 .width-8 {
    width: 88.88888888888889%;
}

.mosaic-grid-9 .width-9 {
    width: 100%;
}

.mosaic-grid-9 .height-1 {
    padding-bottom: 11.11111111111111%;
}

.mosaic-grid-9 .height-2 {
    padding-bottom: 22.22222222222222%;
}

.mosaic-grid-9 .height-3 {
    padding-bottom: 33.33333333333333%;
}

.mosaic-grid-9 .height-4 {
    padding-bottom: 44.44444444444444%;
}

.mosaic-grid-9 .height-5 {
    padding-bottom: 55.55555555555556%;
}

.mosaic-grid-9 .height-6 {
    padding-bottom: 66.66666666666666%;
}

.mosaic-grid-9 .height-7 {
    padding-bottom: 77.77777777777777%;
}

.mosaic-grid-9 .height-8 {
    padding-bottom: 88.88888888888889%;
}

.mosaic-grid-9 .height-9 {
    padding-bottom: 100%;
}

.mosaic-grid-9 .height-10 {
    padding-bottom: 111.11111111111111%;
}

/* 10 Columns */
.mosaic-grid-10 .mosaic-tile {
    width: 10%;
    padding-bottom: 10%;
}

.mosaic-grid-10 .width-1 {
    width: 10%;
}

.mosaic-grid-10 .width-2 {
    width: 20%;
}

.mosaic-grid-10 .width-3 {
    width: 30%;
}

.mosaic-grid-10 .width-4 {
    width: 40%;
}

.mosaic-grid-10 .width-5 {
    width: 50%;
}

.mosaic-grid-10 .width-6 {
    width: 60%;
}

.mosaic-grid-10 .width-7 {
    width: 70%;
}

.mosaic-grid-10 .width-8 {
    width: 80%;
}

.mosaic-grid-10 .width-9 {
    width: 90%;
}

.mosaic-grid-10 .width-10 {
    width: 100%;
}

.mosaic-grid-10 .height-1 {
    padding-bottom: 10%;
}

.mosaic-grid-10 .height-2 {
    padding-bottom: 20%;
}

.mosaic-grid-10 .height-3 {
    padding-bottom: 30%;
}

.mosaic-grid-10 .height-4 {
    padding-bottom: 40%;
}

.mosaic-grid-10 .height-5 {
    padding-bottom: 50%;
}

.mosaic-grid-10 .height-6 {
    padding-bottom: 60%;
}

.mosaic-grid-10 .height-7 {
    padding-bottom: 70%;
}

.mosaic-grid-10 .height-8 {
    padding-bottom: 80%;
}

.mosaic-grid-10 .height-9 {
    padding-bottom: 90%;
}

.mosaic-grid-10 .height-10 {
    padding-bottom: 100%;
}

