html {
    overflow: auto;
    overflow-x: hidden;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    text-align: center;
}

.nav {
    position: fixed;
    width: 100%;
    height: 8%;
    z-index: 100;
    top: 0;
    left: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    background-color: white;
}

.nav ul {
    position: relative;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    justify-content: left;
}

.nav ul li {
    position: relative;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    margin-right: 5%;
}

.link {
    transition: all 0.08s;
}

.link:hover {
    cursor: pointer;
    color: #3A89C9;
}

.link.active {
    font-weight: 600;
    color: #3A89C9;
}

.link.home {
    font-weight: 800;
    font-size: 1.2em;
}

.link.home.active {
    font-weight: 800;
    color: #262626;
}

.mosaic-grid {
    position: relative;
    width: 98%;
    height: 92%;
    top: 8%;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

/* Base */
.a {
/*    background-color: #73626E;*/
    background-color: #1B325F;
/*    background-color: #62A07B;*/
}

.b {
/*    background-color: #B38184;*/
    background-color: #9CC4E4;
/*    background-color: #4F8B89;*/
}

.c {
/*    background-color: #F0B49E;*/
    background-color: #3A89C9;
/*    background-color: #536C8D;*/
}

.d {
/*    background-color: #F7E4BE;*/
    background-color: #F26C4F;
/*    background-color: #5C4F79;*/
}

.a, .b, .c, .d {
    opacity: 0.6 !important;
}

.title {
    background-color: transparent;
}

.title .content {
/*    color: #413E4A;*/
    color: #594F4F;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 4.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sub {
    font-weight: 500;
    font-size: .25em;
    display: block;
    width: 90%;
    font-family: 'Raleway', sans-serif;
}

.etc {
    position: relative;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1005px) {
    .title .content {
        font-size: 3.5em;
    }
}

@media only screen and (max-width: 750px) {
    .title .content {
        font-size: 3.2em;
    }
}

@media only screen and (max-width: 700px) {
    .title .content {
        font-size: 3.5em;
    }
}