html {
    overflow: auto;
    overflow-x: hidden;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: #3A89C9;
    font-weight: 500;
    transition: color 0.2s;
}

a:hover {
    color: #1B325F;
}

.nav {
    position: fixed;
    width: 100%;
    height: 8%;
    z-index: 100;
    top: 0;
    left: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    background-color: white;
}

.nav ul {
    position: relative;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    justify-content: left;
}

.nav ul li {
    position: relative;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    margin-right: 5%;
}

.link {
    color: #262626;
    transition: all 0.08s;
    font-weight: 400;
}

.link:hover {
    cursor: pointer;
    color: #3A89C9;
}

.link.active {
    font-weight: 600;
    color: #3A89C9;
}

.link.home {
    font-weight: 800;
    font-size: 1.2em;
}

.link.home.active {
    font-weight: 800;
    color: #262626;
}

.mosaic-grid {
    position: relative;
    width: 98%;
    height: 92%;
    top: 8%;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

/* Base */
.a {
    background-color: #1B325F;
}

.b {
    background-color: #9CC4E4;
}

.c {
    background-color: #3A89C9;
}

.d {
    background-color: #F26C4F;
}

.a, .b, .c, .d {
    opacity: 0.6 !important;
}

.title {
    background-color: transparent;
}

.title .content {
    color: #594F4F;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 4.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sub {
    font-weight: 500;
    font-size: .25em;
    display: block;
    width: 90%;
    font-family: 'Raleway', sans-serif;
}

/* SECTIONS */
section {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.padded {
    padding: 5%;
}

/* Intro */
.intro {
    text-align: left;
    color: #594F4F;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mosaic-grid-small {
    position: relative;
    width: 20%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin-right: 5%;
}

.intro-text .title {
    font-weight: bold;
    font-size: 6.3em;
    margin-bottom: 2%;
    height: auto;
    line-height: 1em;
}

.intro-text {
    font-family: 'Roboto', sans-serif;
    width: 60%;
    font-size: 1.1em;
    line-height: 1.4em;
}

@media only screen and (max-width: 1005px) {
    .title .content {
        font-size: 3.5em;
    }
}

@media only screen and (max-width: 750px) {
    .title .content {
        font-size: 3.2em;
    }
}

@media only screen and (max-width: 700px) {
    .title .content {
        font-size: 3.5em;
    }
}